table {
  border-collapse: collapse;
}
table,
td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

tr {
  &:hover {
    background-color: antiquewhite;
  }
}
span {
  font-size: 12px;
  font-style: italic;
}
